@model GameRenderModel;

@{
    ViewData["Title"] = "Game Page!";
}

@if (Model?.Game == null)
{
    return;
}

<div class="text-center">
    <h1 class="display-4">Welcome< to CG!</h1>

    @using(Html.BeginForm())
    {
        <button type="submit">
            Draw the first paper!
        </button>
        <button type="submit">
            <em>Success</em>
            Draw the next paper!
        </button>
        <button type="submit">
            <em>Time up/Give up</em>
            Put this paper back in
        </button>
    }

</div>

<div>
    <h2>Teams</h2>
    @if (Model.Game?.Teams != null)
    {
        @foreach (var team in Model.Game.Teams)
        {
            <p>
                <b>@team.Name (@(team.Score)pts)</b> <br>
                @if (team.Players != null)
                {
                    @foreach (var player in team.Players)
                    {
                        if (player.UserId == Model.User?.UserId)
                        {
                            <text>
                            <b>@player.UserName (YOU)</b>
                            <br />
                        </text>
                        }
                        <text>
                            @player.UserName
                            <br />
                        </text>
                    }
                }

                <br>

                @using(Html.BeginForm("JoinTeam", "Game", new { gameId = Model.Game.GameId }, FormMethod.Post))
                {
                    <input type="hidden" name="teamName" value="@team.Name" />
                    <button type="submit">
                        Join @team.Name
                    </button>
                }
            </p>
            
        }
    }

    <form method="POST" action="/game/@Model.Game.GameId/jointeam">
        <input type="text" name="TeamName" placeholder="New team" />
        <button type="submit">
            Create new team
        </button>
    </form>
</div>
