@model GameRenderModel;
@using System.Linq;

@{
    ViewData["Title"] = "Game Page!";
}

@if (Model?.Game == null)
{
    return;
}

<div class="text-center">
    <h1 class="display-4">Colanders!</h1>

    <p>

    @if (Model.Game.ActivePaper != null)
    {
        <text>
        @(Model.Game.ColanderPapers.Count - 1) papers are in the colander
        <br>
        and 1 in play
        </text>
    }
    else
    {
        <text>
        @(Model.Game.ColanderPapers?.Count ?? 0) papers are in the colander
        </text>
    }
    @if (Model.Game.PlayedPapers?.Count > 0)
    {
        <br />
        @Model.Game.PlayedPapers.Count
        <text> are currently on the floor</text>
    }

    @if (Model.Game.RoundNumber == 0)
    {
        <br />
        <text>
            @(Model.Game.ColanderPapers?.Count(p => p.AuthorUserId == Model.User.UserId) ?? 0) papers were written by you
        </text>
    }

    </p>

    @if (Model.Game.RoundNumber > 0)
    {
        <h2>Round @Model.Game.RoundNumber</h2>
        @if (Model.Game.ColanderPapers?.Count == 0)
        {
            <p>
                <img src="/media/colander-empty.jpg" width="300" />
            </p>
        }

        @if (Model.Game.IsGameOver)
        {
            <p><b>Game over</b></p>
            <br>
            <table>
                <tr>
                    <th>Team Name</th>
                    <th>Final Score</th>
                </tr>
                @foreach (var team in @Model.Game.Teams.Where(t => t.Players?.Count > 0).OrderByDescending(t => t.Score))
                {
                    <tr>
                        <td>@team.Name</td>
                        <td>@team.Score</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>
                <b>Team @Model.Game.NextTeamToPlay?.Name are up</b>
                (@Model.Game.NextTeamToPlay?.Players[Model.Game.NextTeamToPlay.NextPlayer].UserName to present next)
            </p>

            @if (Model.UsersTeam() == null)
            {
                <h2>You need to join a team if you want to play</h2>
            }
            else
            {
                if (Model.Game.ActivePlayer == null)
                {
                    if (Model.UsersTeam()?.Name == Model.Game.NextTeamToPlay?.Name)
                    {
                        <form method="POST" action="/game/@Model.Game.GameId/getpaper">
                            I will go next
                            <button type="submit">
                                Lets play!
                            </button>
                        </form>
                    }
                }
                else if (Model.Game.ActivePlayer.UserId == Model.User.UserId)
                {
                    <div style="width: 400px; margin: auto; background-color: #fff740; border: 2px solid black; border-radius: 5px; padding: 20px;">
                    <h2>@Model.Game.ActivePaper.Words</h2>
                    </div>

                    <form method="POST" action="/game/@Model.Game.GameId/getpaper">
                        <br>
                        We got it!
                        <br/>
                        <button type="submit" onclick="return confirm('Did your team get it right?')">
                            Throw paper on the floor
                        </button>
                    </form>
                    <br/>
                    <form method="POST" action="/game/@Model.Game.GameId/endturn">
                        I give up or time ran out
                        <br/>
                        <button type="submit" onclick="return confirm('Are you sure you have finished?')">
                            End my turn
                        </button>
                    </form>
                    <br>
                    <progress value="@(60 - Model.Game.TimeLeft)" max="60" id="progressBar"></progress>
                    <script>
                        var timeleft = @Model.Game.TimeLeft;
                        var downloadTimer = setInterval(function(){
                        if (timeleft <= 0) {
                            clearInterval(downloadTimer);
                            setTimeout(location.reload(), 10000);
                        }
                        document.getElementById("progressBar").value = 60 - timeleft;
                        timeleft -= 1;
                        }, 1000);



                    </script>
                }
            }
        }

        if (Model.Game.ActivePlayer != null && Model.Game.ActivePlayer.UserId != Model.User.UserId)
        {
            <h2>@Model.Game.ActivePlayer.UserName is presenting
                @if (Model.UsersTeam() != null)
                {
                    if (Model.UsersTeam().Players.Any(p => p.UserId == Model.Game.ActivePlayer.UserId))
                    {
                        <b> to you</b>
                    }
                    else
                    {
                        <text> to their team</text>
                    }
                }
            </h2>
            <br>
            <progress value="@(60 - Model.Game.TimeLeft)" max="60" id="progressBar"></progress>
            <script>
                var timeleft = @Model.Game.TimeLeft;
                var downloadTimer = setInterval(function(){
                if(timeleft <= 0){
                    clearInterval(downloadTimer);
                }
                document.getElementById("progressBar").value = 60 - timeleft;
                timeleft -= 1;
                }, 1000);
            </script>
        }
    }
    else
    {
        if (Model.UsersTeam() == null)
        {
            <h2>You need to join a team if you want to play</h2>
        }
        else
        {
            @if (Model.UserIsReady())
            {
                <p>You are ready and waiting for the game to start</p>
                <br />
                <form method="POST" action="/game/@Model.Game.GameId/notready">
                    <button type="submit">
                        Actually, I&apos;m not ready!
                    </button>
                </form>
            }
            else
            {
                <p>Write some words on a piece of paper: </p>
                <form method="POST" action="/game/@Model.Game.GameId/addpaper">
                    <input type="text" name="NewPaper" placeholder="My fun words go here" />
                    <button type="submit">
                        Add it to the colander
                    </button>
                </form>
                <br />
                <form method="POST" action="/game/@Model.Game.GameId/ready">
                    <button type="submit">
                        OK I&apos;m ready to play!
                    </button>
                </form>
            }

            <br />

            @if (Model.Game.GameCanStart)
            {
                @if (Model.UserIsReady())
                {
                    <p>@Model.ReadyPlayersCount() players set as ready, @Model.NotReadyPlayersCount() are not</p>
                    <form method="POST" action="/game/@Model.Game.GameId/getpaper">
                        When everyone has finished writing:<br/>
                        <text>
                            Start the game - I&apos;m going to present first!
                            <button type="submit">
                                Lets go!
                            </button>
                        </text>
                    </form>
                }
            }
            else
            {
                <p><b>You need at least 2 pieces of paper per team to start the game.</b></p>
                <p><b>You must not have any empty teams to start the game.</b></p>
            }
        }
    }

</div>

<div>
    <h2>Teams</h2>
    @if (Model.Game?.Teams != null)
    {
        @foreach (var team in Model.Game.Teams)
        {
            <p>
                <b>@team.Name (@(team.Score)pts)</b> <br>
                @team.Players.Count players
                @if (team.Players != null)
                {
                    <ul>
                    @foreach (var player in team.Players)
                    {
                        if (player.UserId == Model.User?.UserId)
                        {
                            <li>
                            <b>@player.UserName (YOU)</b>
                            <br />
                            </li>
                        }
                        else
                        {
                            <li>
                                @player.UserName
                                <br />
                            </li>
                        }

                    }
                    </ul>

                    <!-- br -->
                    @if ((Model.Game.RoundNumber == 0 && !Model.UserIsReady()) || (!Model.Game.IsGameOver && Model.UsersTeam() == null))
                    {
                        if (Model.UsersTeam() != team)
                        {
                            @using(Html.BeginForm("JoinTeam", "Game", new { gameId = Model.Game.GameId }, FormMethod.Post))
                            {
                                <input type="hidden" name="teamName" value="@team.Name" />
                                <button type="submit">
                                    Join team @team.Name
                                </button>
                            }
                            @if (team.Players == null || team.Players.Count == 0)
                            {
                                @using(Html.BeginForm("DeleteTeam", "Game", new { gameId = Model.Game.GameId }, FormMethod.Post))
                                {
                                    <input type="hidden" name="teamName" value="@team.Name" />
                                    <button type="submit">
                                        Delete empty team @team.Name
                                    </button>
                                }
                            }
                        }
                    }
                }
            </p>
            
        }
    }
    @if ((Model.Game.RoundNumber == 0 && !Model.UserIsReady()) || (!Model.Game.IsGameOver && Model.UsersTeam() == null))
    {
        <form method="POST" action="/game/@Model.Game.GameId/jointeam">
            <input type="text" name="TeamName" placeholder="New team" />
            <button type="submit">
                Create new team
            </button>
        </form>
    }
</div>
